@page "/"
@inject HttpClient HttpClient
@inject ThemeService ThemeService

<PageTitle>The BeReal Project</PageTitle>


<div class="card bg-body-secondary">
    <div class="m-3">
        <div class="row">
            <div class="col" @onmouseout="e => SelectedIndex = null">
                <h1 class="text-uppercase h5">The <a class="link-primary" href="https://bereal.com/">BeReal</a> Project</h1>
            </div>
            <div class="col-6">
                <div class="d-flex">
                    <div class="ms-2 mt-2 d-none d-md-block">
                        <SelectedTitle Assets="@Assets" SelectedIndex="SelectedIndex"></SelectedTitle>
                    </div>
                    <div class="ms-auto">
                        <buttong class="btn btn-outline-secondary text-body-emphasis" @onclick="ToggleTheme">
                            <span class="oi oi- @ThemeCss"></span>
                        </buttong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ms-md-3 mb-5">
        <div class="row">
            <div class="col-md" @onmouseout="HandleOnMouseOut">
                @if (Assets is null)
                {
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                }
                <ImageGrid Assets="@Assets" OnMouseOver="HandleMouseOver" OnClick="HandleClick"></ImageGrid>
            </div>
            <div class="col-md d-none d-md-block">
                <div class="d-md-none">
                    <SelectedTitle Assets="@Assets" SelectedIndex="SelectedIndex"></SelectedTitle>
                </div>
                <SelectedImage Assets="@Assets" SelectedIndex="SelectedIndex"></SelectedImage>
            </div>
        </div>
    </div>
</div>
@if (SelectedIndex is not null)
{
<div class="position-absolute top-0 start-0 d-md-none bg-body" @onclick="HandleImageClick" @onclick:stopPropagation="true">
    <div>
        <SelectedTitle Assets="@Assets" SelectedIndex="SelectedIndex"></SelectedTitle>
    </div>
    <SelectedImage Assets="@Assets" SelectedIndex="SelectedIndex"></SelectedImage>
</div>    
}

@code
{
    AssetItem[]? Assets { get; set; }
    int? SelectedIndex { get; set; }
    string? Show { get; set; }
    string ThemeCss => ThemeService.Theme == "light" ? "oi-moon" : "oi-sun";

    bool UpdateSelectedIndexOnMouseOver = true;
    protected override async Task OnInitializedAsync() 
    {
        Assets = await HttpClient.GetFromJsonAsync<AssetItem[]>("assets.json").ConfigureAwait(false);
        await base.OnInitializedAsync().ConfigureAwait(false);
    }

    void HandleMouseOver(int index) 
    {
        if (UpdateSelectedIndexOnMouseOver) 
        {
            SelectedIndex = index;
        }
    }

    void HandleClick(int index) 
    {
        UpdateSelectedIndexOnMouseOver = !UpdateSelectedIndexOnMouseOver;
        SelectedIndex = index;
        StateHasChanged();
    }

    void HandleOnMouseOut()
    {
        if (UpdateSelectedIndexOnMouseOver) 
        {
            SelectedIndex = null;
        }
    }

    void HandleImageClick()
    {
        SelectedIndex = null;
    }

    async Task ToggleTheme()
    {
        if (ThemeService.Theme == "dark")
        {
            await ThemeService.SetThemeAsync("light").ConfigureAwait(false);
            return;
        }

        await ThemeService.SetThemeAsync("dark").ConfigureAwait(false);
    }
}
